.home h1 {
  background-color: rgb(163, 228, 58);
  font-size: 300%;
  text-align: center;
  font-family: sans-serif;
  padding: 0.5em;
}
.home p {
  text-decoration: none;
  height: 100vh;
  background-color: rgb(247, 243, 48);
  padding: 3em;
  font-size: 200%;
}
.home p:hover {
  color: rgb(17, 116, 182);
  text-decoration: underline;
}
