.home h1 {
  background-color: rgb(123, 128, 115);
  font-size: 300%;
  text-align: center;
  font-family: sans-serif;
  padding: 0.5em;
}

.home div {
  background-color: rgb(211, 211, 195);
  padding: 1em;
  color:blue
}
.home a:hover {
  text-decoration: underline;
}
