.post {
  display: flex;
  height: 100vh;
  gap: 1em;
  padding: 0 8vw;
  background-color: #f2f2f2;
}
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.form * {
  flex: 1;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.form h2 {
  font-size: 200%;
  font-family: sans-serif;
  text-decoration: underline;
}
.form input[type="text"] {
  padding: 0.2em;
  margin-left: 1em;
  border: 1px solid;
}
.form textarea {
  margin-left: 1em;
  padding: 0.2em;
  border: 1px black solid;
}
.form button {
  margin: 0 0.6em;
  background-color: #09b50f;
  padding: 0.4em;
  border: 0.5px solid;
}

.list {
  flex: 1;
  border-collapse: collapse;
  width: 80%;
}
.list td,
.list tr {
  border: solid;
}
.list button {
  margin: 0 0.3em;
  background-color: #b9d4ba;
  padding: 0.2em 0.6em;
  border: 0.5px solid;
}
.list tr td {
  font-size: 120%;
}
.published {
  color: #09b50f;
}
