.body > * {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.body h2 {
  background-color: rgb(236, 51, 175);
  text-align: center;
  font-size: 300%;
}
.body button {
  background-color: rgb(28, 245, 245);
  height: 10vh;
  text-align: center;
  width: 100%;
}
.body p {
  background-color: aliceblue;
  height: 100vh;
}
